body{
    background-color: #000;
    color: white;
    font-family: Arial;
    margin: 0;
}

/* BANNER */

.banner img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

/* CONTAINER */

.container{
    width: 90%;
    margin: auto;
    margin-top: 40px;
}

h2{
    font-size: 35px;
    margin-bottom: 20px;
}

/* CARDS */

.cards{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.card img{
    width: 100%;
    border-radius: 10px;
}

.card{
    width: 220px;
    transition: 0.3s;
}

.card:hover{
    transform: scale(1.05);
}

/* PLANOS */

.planos{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.plano{
    width: 30%;
    border: 1px solid #333;
    border-radius: 10px;
    padding: 20px;
    background-color: #111;
}

.plano h3{
    color: red;
    font-size: 30px;
}

.plano p{
    font-size: 26px;
    font-weight: bold;
}

.plano ul{
    list-style-type: disc;
}

.plano li{
    margin-bottom: 10px;
    font-size: 18px;
}

.destaque{
    border: 2px solid red;
}

/* TABELA */

table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 50px;
}

th{
    background-color: #111;
    color: red;
    padding: 15px;
    border: 1px solid #333;
}

td{
    padding: 15px;
    border: 1px solid #333;
    text-align: center;
}

tr:hover{
    background-color: #111;
}

#subtitulo_card {
    font-size: 18px;
    color: gray;
}

#linha_divisao{
    border: none;             /* Remove a linha dupla padrão */
    height: 1px;              /* Define a espessura da linha */
    margin: 20px 0; 
    background-color: #979797;
}

li::marker {
    color: #ff0000; /* Substitua pela cor desejada */
  }